<header class="toolbar">
  <div class="toolbar-content">
    <div class="logo-section">
      <img 
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" 
        alt="Pokéball"
        class="logo"
      />
      <h1>PokéApp</h1>
    </div>
    
    <div class="user-section">
      <span class="user-name">Ash Ketchum</span>
      <div class="user-avatar">
        <img 
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" 
          alt="User avatar"
          class="avatar-img"
        />
      </div>
    </div>
  </div>
</header>
